<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>
    <body>
    {% block content %}
        <h1>Rango says...</h1>
        {% if categories %}
            <ul>
                {% for category in categories %}
                <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
        {% if top_pages %}
            <h2>Top 5 Pages</h2>
            <ul>
                {% for page in top_pages %}
                <li>{{ page.title }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <a href="/rango/about/">About</a><br />
    {% endblock %}
    </body>
</html>
